.footer_container {
    font-size: 1rem;
    padding-top: 1%;
    text-align: center;
    background: #272528;
}

.footer_text {
    font-family: var(--roboto);
    color: white;
    padding-bottom: 1%;
}

.animated_emoji {
    display: inline-block;
    animation: pulse 1s infinite;
}